html, body{
    background-color: rgb(0, 87, 87);
    height: 100%;
    min-height: 100%;
    /* border: 3px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
}
main{ 
    /* width: 100%; */
    background-color: navy;
    color: white;
    /* border: 3px solid black; */
}

nav{
    /* border: solid; */

}
footer{
    position: absolute;
    bottom:auto;
    width: 100%;
    height: 100px;
    font-style: italic;
    background-color: lightgray;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
span{
    font-weight: bolder;
    color: lightcyan;
}
span.l{
    font-size: xx-large;
    padding-left: 20px;
}
.text{
    /* width: 50%; */
    padding: 17px;
    font-size:large;
    h3{
        font-size: large;
    }
}
header{
    /* width: 100%; */
    height: 220px;
    /* border: 3px solid black; */
    background-color: white;
    align-items: center;
    display: flex;
    /* justify-content:space-evenly; */
    /* overflow:auto; */
}
img.index{
    border-radius: 300px;
    /* height: 160px; */
    width: 200px;
    display: flex;
    float: left;
    margin-left: 24px;
    position:absolute,;
    /* overflow:auto; */
    /* border: 3px solid black; */
}
nav.index{
    /* border: 3px solid black; */
    /* height: 80px; */
    margin: auto;
    padding-right: 9px;
    align-self: center;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
div.index{
    display:flex;
    /* border: 3px solid black; */
    font-size: larger;
    a:hover {
        color: black;
        background-color: forestgreen;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }
    a:visited{
        color: black;
    }
    a:focus {
        color: red; 
    }
    a{
        /* border: 2px solid white; */
        color: black;
        border-radius: 5px;
        margin: 2px;
        padding: 20px;
        text-decoration: none;
        transition: 0.2s ease-out;
    }
}

