@media only screen and (min-width: 10px){

html, body{
    background-color: rgb(0, 87, 87);
    height: 100%;
    min-height: 100%;
    /* border: 3px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overscroll-behavior: none;
}

footer{
    width: 100%;
    height: 150px;
    font-style: italic;
    font-size: large;
    background-color: lightgray;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
span{
    font-weight: bolder;
    color: lightcyan;
}
span.l{
    font-size: 35px;
    padding-left: 10px;
}

main{
    width: 100%;
}
article{
    /* border: 3px solid black; */
    /* margin: auto; */
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.text{

    padding-top: 17px;
    padding-bottom: 17px;
    font-size:large;
    /* width:fit-content; */
    width: 50%;
    float: left;
    /* display: flex; */
    /* display: inline-block; */
    cursor:default;
    /* float: left; */
    h3{
        font-size: large;
        padding-left: 20px;
    }
    h2{
        font-size: 50px;
        padding-left: 20px;
        /*  border: solid; */
        margin-top: 20px;
        margin-bottom: 45px;
    }
    p{
        color: black;
        /* border: solid; */
        font-weight: bold;
        margin-top: 15px;
        font-size: x-large;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
    }
    a{
        /* border: solid; */
        text-decoration: none;
        /* width: 10px; */
        display: block;
        /* width: 38%; */
        width: 390px;
        /* transition: 0.5s ease-in-out; */
    }
    a:hover{
        /* transition: 0.5s ease-in-out; */
        p{
            color: darkcyan;
            font-weight: 900;
            transition: 0.3s ease-in-out;
            /* margin-top: 13px; */
            /* margin-bottom: 15px; */
        }
        div{
            background-color: lightgray;
            transition: 0.2s ease-in;
            /* overflow: auto; */
            width: 410px;
        }
    }
    div{
        /* border: solid; */
        background-color: rgba(61, 61, 231, 0.784);
        padding-left: 20px;
        margin: 25px;
        margin-left: 55px;
        border-radius: 8px;
        border: 3px solid black;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.527);
        color: lightcyan;
        transition: 0.3s ease-out;
        max-width: 345px;
        min-width: 215px;
        padding-top: 0px;
        padding-bottom: 0px;
        /* width: 250px; */
        /* float: left; */
    }
}
.text100{
    /* padding-left: 17px; */
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 20px;
    font-size:large;
    width: fit-content;
    float: left;
    /* display: flex; */
    /* display: inline-block; */
    cursor:default;
    /* float: left; */
    h1{
        color: black;
        /* border: solid; */
    }
    h3{
        font-size: large;
        padding-left: 20px;
    }
    h2{
        font-size: 50px;
        padding-left: 20px;
        /*  border: solid; */
        margin-top: 20px;
        margin-bottom: 45px;
    }
    p{
        color: black;
        /* border: solid; */
        font-weight: bold;
        margin-top: 0px;
        font-size: x-large;
        margin-bottom: 0px;
        transition: 0.2s ease-in-out;
    }
    a{
        /* border: solid; */
        /* text-decoration: none; */
        /* width: 10px; */
        display: block;
        color: black;
        /* width: 38%; */
        width: 390px;
        /* transition: 0.5s ease-in-out; */
    }
    li{
        color: lightcyan;
        /* border: solid; */
        font-weight: bold;
        margin-top: 15px;
        font-size: x-large;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
    }
    a:hover{
        /* transition: 0.5s ease-in-out; */
        p{
            color: darkcyan;
            font-weight: 900;
            transition: 0.3s ease-in-out;
            /* margin-top: 13px; */
            /* margin-bottom: 15px; */
        }
        div{
            background-color: lightgray;
            transition: 0.2s ease-in;
            /* overflow: auto; */
            width: 410px;
        }
    }
    div{
        /* border: solid; */
        background-color: rgba(61, 61, 231, 0.784);
        padding-left: 20px;
        margin: 25px;
        margin-left: 55px;
        border-radius: 8px;
        border: 3px solid black;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.527);
        color: lightcyan;
        transition: 0.3s ease-out;
        /* max-width: 345px; */
        width: fit-content;
        min-width: 215px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 20px;
        /* float: left; */
    }
}
}

nav.main{
    padding-left: 20;
    padding-top: 17px;
}
div.main{ 
    /* display: flex; */
    /* display: inline-block; */
    background-color: rgba(61, 61, 231, 0.784);
    padding-left: 20px;
    margin: 25px;
    margin-left: 55px;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.527);
    color: lightcyan;
    transition: 0.3s ease-out;
    max-width: 345px;
    min-width: 215px;
    /* width: 250px; */
    /* float: left; */
}
article.img{
    /* float:inline-start; */
    float: inline-end;
    /* width: fit-content; */
    width: 50%;
    /* overflow: auto; */
}
div.mainImg{
    /* display: flex; */
    /* margin-right: 5px; */
    /* flex-direction: column; */
    /* float: right; */
    display: flex;
    align-items: center; 
    justify-content: center; 

}
img.main{
    border: solid;
    /* width: 529px; */
    width: 90%;
    overflow: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    /* margin-right: 40px; */
    border-radius: 15px;
}
img.res{
    border: solid;
    /* width: 529px; */
    width: 80%;
    /* size: 50%; */
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    /* margin-right: 40px; */
    border-radius: 15px;
}
header{
    /* width: 100%; */
    /* height: 220px; */
    /* border: 3px solid black; */
    background-color: white;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    justify-content:space-evenly;
    flex-wrap: wrap; 
    /* allow items to wrap to next line when too wide */
    gap: 12px;
    /* padding: 12px 18px; */
    /* overflow:auto; */
}
img.index{
    border-radius: 300px;
    /* height: 160px; */
    width: 200px;
    display: block;
    padding: 2px;
    margin-left: 8px;
    position: static;
    /* border: 3px solid black; */
}
nav.index{
    /* border: 3px solid black; */
    height: auto;
    margin: auto;
    /* width: auto; */
    align-content: center;
    /* align-self: auto; */
    padding-right: 23px;
    /* padding: auto; */
    /* align-self: center; */
    overflow: auto;
    white-space: nowrap;
    overflow: visible; 
    white-space: normal; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.index{
    display:flex;
    /* border: 3px solid black; */
    /* font-size: xx-large; */
    font-size: 22px;
    a:hover {
        color: black;
        background-color: forestgreen;
        font-weight: bolder;
        transition: 0.3s ease-in-out;
    }
    a:visited{
        color: black;
    }
    a:focus {
        color: red; 
    }
    a{
        /* border: 2px solid black; */
        color: black;
        border-radius: 5px;
        /* margin: 5px; */
        margin: auto;
        padding: 13px;
        /* padding: auto; */
        text-decoration: none;
        transition: 0.2s ease-out;
    }
} 
.download-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    /* border-color: black; */
    /* border: black; */
    border: solid black;
    background-color: #0d381d;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}
.download-btn:hover {
    background-color: #0d3810;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.download-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}